.modal__button {
    cursor: pointer;

    border-radius: 8px;
    width: 189px;
    height: 48px;
    background: var(--blue);
    cursor: pointer;

    font-family: var(--third-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.modal {
    text-align: center;
}

.modal__window__backdrop {
    display: none;
    background: #c4c4c4;
    opacity: 0.95;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal__window__inner {
    text-align: left;
    position: relative;
    border-radius: 8px;
    width: 50%;
    margin: auto;
    top: 50%;
    background: #fff;
    transform: translateY(-50%);
    padding: 10%;
    opacity: 1;
}

.modal__window__inner__closeIcon {
    position: absolute;
    bottom: calc(100% - 30px);
    left: calc(100% - 30px);
    cursor: pointer;
}

.preview__card__modal {
    flex-grow: 1;
    position: relative;
    display: block;
}

.preview__card__modal__inner {
    position: relative;
    max-width: 222px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 14px;
    width: 80%;
}

.preview__card__modal__inputDiv {
    max-width: 100%;
}

.preview__card__modal__textInput {
    max-width: 100%;
}

.preview__card__button {
    max-width: 70px;
}

.preview__card__modal__label {
    font-size: 8px;
    color: var(--grey);
    padding-bottom: 2px;
}